<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button (click)="enviarCorreo()" color="primary">
                <ion-icon slot="icon-only" name="send"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Historial
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item detail *ngFor="let registro of _data.guardados" (click)="abrirRegistro( registro )">
            <ion-icon slot="start" [name]="registro.icon" color="danger"></ion-icon>
            <ion-label>
                <h2>{{registro.text}}</h2>
                <p>
                    {{registro.created}}
                </p>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>